<%= form_for(@grouper) do |f| %>
  <% if @grouper.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grouper.errors.count, "error") %> prohibited this grouper from being saved:</h2>

      <ul>
      <% @grouper.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none;" >
    <%= f.label :template %><br>
    <%= f.text_field :template %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_area :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
