<%= form_for(@form) do |f| %>
  <% if @form.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@form.errors.count, "error") %> prohibited this form from being saved:</h2>

      <ul>
      <% @form.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display: none;">
    <%= f.label :template %><br>
    <%= f.number_field :template_id %>
  </div>
  <div class="field">
    <%= f.label :creator %><br>
    <%= f.number_field :creator %>
  </div>
  <div class="field">
    <%= f.label :recipients %><br>
    <%= f.text_field :recipients %>
  </div>
  <div class="field">
    <%= f.label :private %><br>
    <%= f.text_field :private %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>

  


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
