<p id="notice"><%= notice %></p>

<p>
  <strong>Template:</strong>
  <%= @form.template %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @form.creator %>
</p>

<p>
  <strong>Recipients:</strong>
  <%= @form.recipients %>
</p>



<p>
  <strong>Data:</strong>
  <%= @form.data %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> 

