<!DOCTYPE html>
<html>
<head>
  <title>Forms</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--
  <script src="assets/handsontable.full.js"></script>
  <link rel="stylesheet" media="screen" href="assets/handsontable.full.css">
  -->

</head>
<body>


<% if Rails.configuration.allow_read_unauthenticated || user_signed_in? %>

<table style="width:100%">
  <tr>
    <th><%= link_to('Home', root_path) %> </th>
    <th><%= link_to('Filters', filters_path) %> </th>
    <th><%= link_to('Audits', audit_path) %> </th>
    <th><a href="/howtouse.html">How to use</a></th>
    <th><a href="/techInfo.html">Tech info</a></th>
    <% if user_signed_in? %>
    <th><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></th>
    <% else %>
    <th><%= link_to('Sign in', new_user_session_path) %></th>
    <% end %>
  </tr>
  
</table>

<% end %>

<%= yield %>

</body>
</html>
